@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: hsl(0, 1%, 14%);
  color: hsl(0, 0%, 100%);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
textarea {
	height: 300px;
  min-height: 200px;
}

.clipboard {
  position: absolute;
  right: 5px;
  top: 8px;
  padding: 6px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
